p {
    text-align: justify;
}

.myPage {
    text-align: center;
    height: 75px;
    border-radius: 10px;
    max-width: 100%;
    background-color: lightseagreen;
}

.container {
    border-radius: 10px;
    padding-left: 10px;
    background-color: ghostwhite;
    overflow: auto;
    margin-top: 10px;
    max-width: 100%S;
    height: 500px;
    margin-left: 120px;
    padding-right: 10px;
}

.left-nav {
    border-radius: 10px;
    height: 500px;
    width: 110px;
    margin-top: 10px;
    background-color: lightseagreen;
    position: fixed;
}

.left-nav ul li a.homeActive {
    color: dimgrey;
}

.left-nav ul {
    list-style-type: none;
    width: 95px;
    padding: 10px 0px 10px 16px;
}

.left-nav li a:hover {
    color: sandybrown;
}

.main-text {
    text-align: justify;
    float: right;
    margin-bottom: 10px;
}

.something {
    margin-left: 120px;
}